*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: bisque;
}
#questionContainer{
    margin: 0 auto;
    position: relative;
    top: 150px
}

h1{
    margin-top: 20px;
    font-size: 2rem;
    color: #55e534;
    text-decoration: underline #6cec50;
}
p{
    margin-top: 20px;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000000;
}

button{
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2rem;
    background-color: #55e534;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;   
}

#nextQ{
    background-color: lightgray;
}
a{
    text-decoration: none;
    color: #fff;
}